{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx"],
      "options": {
        "printWidth": 120,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": true
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "printWidth": 120,
        "singleQuote": false
      }
    }
  ]
}
